# Editor settings
.vscode/

# Code Runner temporary files
tempCodeRunnerFile.js

# Node modules (if you install packages later)
node_modules/
dist/

# Environment secrets
.env

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db
desktop.ini